DATABASE_URL=CHANGE_ME
JWT_SECRET=CHANGE_ME
JWT_ALGORITHM=CHANGE_ME
JWT_EXPIRE_MINUTES=CHANGE_ME
REDIS_URL=CHANGE_ME
SO_PATH=CHANGE_ME
MODEL_PATH=CHANGE_ME
MODELS_DIR=CHANGE_ME


HMAC_SECRET_KEY=CHANGE_ME
